# Node.js / Next.js
node_modules/
.next/
out/
build/
.DS_Store
*.pem

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Database & SQLite
*.db
*.db-journal
solar_plant.db

# IDE & Editor Configs
.idea/
.vscode/
*.swp
*.iml
.classpath
.project
.settings/

# OS Temp Files
Thumbs.db
ehthumbs.db
desktop.ini
